<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>Yoda</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= yield :scripts %>
</html>
